<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table id="results">
        <thead>
            <tr>
                <th id="Headline">Headline</th>
                <th id="URL">Link</th>
            </tr>
        </thead>
        <tbody>
            <!-- Results from DB here -->
        </tbody>
    </table>
    <script src="app.js"></script>
</body>

</html>